In [1]:
print("Create Connection")
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="root")
print(mydb)

Create Connection
<mysql.connector.connection_cext.CMySQLConnection object at 0x00000219F73FB2D0>

In [2]:
import smtplib, ssl

port = 465  # For SSL
password = input("Type your password and press enter: ")

# Create a secure SSL context
context = ssl.create_default_context()

with smtplib.SMTP_SSL("smtp.gmail.com", port, context=context) as server:
    server.login("rijul6909@gmail.com", password)
    # TODO: Send email here

Type your password and press enter:  RIJULDPS

SMTPAuthenticationError: (535, b'5.7.8 Username and Password not accepted. Learn more at\n5.7.8  https://support.google.com/mail/?p=BadCredentials a5-20020a170902ee8500b001bd62419744sm4546975pld.147 - gsmtp')

In [34]:
from email.message import EmailMessage
import ssl
import smtplib
email_sender="rijul6909@gmail.com"
email_password="bnetxellvyexelgg"
email_receiver="akshitbansal010@gmail.com"
subject="Email sent using Python"
body="My first python sent email"
em=EmailMessage()
em["From"]=email_sender
em["To"]=email_receiver
em["Subject"]=subject
em.set_content(body)
context=ssl.create_default_context()
with smtplib.SMTP_SSL('smtp.gmail.com',465,context=context) as smtp:
    smtp.login(email_sender, email_password)
    smtp.sendmail(email_sender, email_receiver, em.as_string())
print("Email sent")

Email sent

In [5]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="root")
mycursor=mydb.cursor()
mycursor.execute("create database test")

In [6]:
mycursor.execute("show databases")

In [7]:
print(mycursor)

CMySQLCursor: show databases

In [9]:
mycursor.execute("show databases")
for i in mycursor:
    print(i)

InternalError: Unread result found

In [10]:
mycursor.execute("show databases")

InternalError: Unread result found

In [11]:
print(mycursor)

CMySQLCursor: show databases

In [12]:
res=mycursor.fetchall()

In [13]:
print(res)

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('test',), ('world',)]

In [14]:
mycursor.execute("show databases")

In [16]:
mycursor.execute("use test")

InternalError: Unread result found

In [17]:
mycursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test',),
 ('world',)]

In [18]:
mycursor.execute("use test")

In [19]:
mycursor.execute("create table testtable( name varchar[50], email varchar[50], phone int, appointment_date date, department varchar[50], message varchar[50]")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[50], email varchar[50], phone int, appointment_date date, department varchar[50' at line 1

In [20]:
mycursor.execute("create table testtable( name varchar(50), email varchar(50), phone int, appointment_date date, department varchar(50), message varchar(50)")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1

In [21]:
mycursor.execute("create table testtable( name varchar(50), email varchar(50), phone int, appointment_date date, department varchar(50), message varchar(50))")

In [22]:
mycursor.execute("insert into testtable values("Rijul Bansal", "rijul11103@gmail.com", 9891696246, "2023-09-07", "Orthopedic", "Hello")")

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2295688276.py, line 1)

In [23]:
mycursor.execute("insert into testtable values("Rijul Bansal", "rijul11103@gmail.com", 9891696246, "2023-11-11", "Orthopedic", "Hello")")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2157385570.py, line 1)

In [24]:
mycursor.execute("show tables")

In [25]:
mycursor.fetchall()

[('testtable',)]

In [26]:
insert_stmt = "INSERT INTO testtable VALUES (%s, %s, %d, %s, %s, %s)"

In [28]:
data=("Rijul Bansal", "rijul11103@gmail.com", 9891696246, "2023-11-11", "Orthopedic", "Hello")

In [29]:
mycursor.execute(insert_stmt,data)

ProgrammingError: Not all parameters were used in the SQL statement

In [30]:
data=("Rijul Bansal", "rijul11103@gmail.com", 9891696246, datetime.date(2023,9, 11), "Orthopedic", "Hello")

NameError: name 'datetime' is not defined

In [31]:
insert_stmt = "INSERT INTO testtable( name, email, phone, appointment_date, department, message) VALUES (%s, %s, %d, %s, %s, %s)"

In [38]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="root",
    database="test")
mycursor=mydb.cursor()
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000219F88FE050>

In [39]:
mycursor.execute("select * from testtable1")

In [40]:
mycursor.fetchall()

[('Rijul Bansal',
  'rijul11103@gmail.com',
  '9891696246',
  datetime.date(2023, 9, 3),
  'Orthopedic',
  'Hello'),
 ('Akshit Bansal',
  'akshitbansal010@gmail.com',
  '9891696246',
  datetime.date(2023, 9, 6),
  'Pediatric',
  'Heyyy')]

In [46]:
mycursor.execute("select email from testtable1")

In [47]:
res=mycursor.fetchall()

In [50]:
from email.message import EmailMessage
import ssl
import smtplib
email_sender="rijul6909@gmail.com"
email_password="bnetxellvyexelgg"
#email_receiver="akshitbansal010@gmail.com"
subject="Email sent using Python"
body="My first python sent email"
em=EmailMessage()
em["From"]=email_sender
em["To"]=email_receiver
em["Subject"]=subject
em.set_content(body)
context=ssl.create_default_context()
for email_receiver in res:
    with smtplib.SMTP_SSL('smtp.gmail.com',465,context=context) as smtp:
        smtp.login(email_sender, email_password)
        smtp.sendmail(email_sender, email_receiver[0], em.as_string())
print("Email sent")

Email sent

In [49]:
for email_receiver in res:
    print(email_receiver[0])

rijul11103@gmail.com
akshitbansal010@gmail.com